[Desktop Entry]
Name=Simple Window Groups
Comment=Provides a window grouping system
Icon=window-duplicate
Type=Service

X-KDE-PluginInfo-Name=simple-window-groups
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=wsdfhjxc
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false

X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
